<h1>AirSpin</h1>

<input type="button" id="left-play" value="Play/Pause"/>

<span id="left-track">Polish Girl</span> <span id="left-playbackrate" style="width: 50px; margin: 0 10px">1.00</span>
<span id="crossfader-wrapper"><input type="range" id="crossfader" min="0" max="200" value="0"/></span>
<span id="right-playbackrate" style="width: 50px; margin: 0 10px">1.00</span> <span id="right-track">True Loves</span>

<input type="button" id="right-play" value="Play/Pause"/>

<div style="display:none;">
<input id="leap-x">
<input id="leap-y">
<input id="leap-z">
</div>