<h1>OHAI</h1>

<input type="button" id="left-play" value="Play/Pause"/>

Polish Girl <input type="range" id="crossfader" min="0" max="200" value="0"/> True Loves

<input type="button" id="right-play" value="Play/Pause"/>